<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добавить</title>
</head>
<body>
<main>
<form action="/offers" method="post">
    <body>

    <div>
        <h1>База исполнителей</h1>
        {% for offer in text_main %}
            <p>{{ offer }}</p>
        {% endfor %}
    </div>
    <hr>
    <div>
        <h3>Создать предложение</h3>
        <p>Одно значение в одну строку</p>

        <p><textarea rows="4" cols="20" name="list_rows">
Номер заказа
Номер исполнителя
        </textarea></p>
        <input type="submit" value="ДОБАВИТЬ" class="button" name="list_rows">
    </div>
    </body>
</form>
</main>
</body>
</html>